
{% extends "base.html" %}
{% block body %}

   <!-- intro section
   ================================================== -->
   <section id="intro">   

      <div class="intro-overlay"></div>	

      <div class="intro-content">
         <div class="row">

            <div class="col-twelve">
               <h5>Hello, World.</h5>
               <h1>I'm Mohamed Qabil</h1>

               <p class="intro-position">
                  <span>Back-end Developer</span>
                  <span>ML/DL Engineer</span> 
               </p>

               <a class="button stroke smoothscroll" href="{% url 'about:about' %}" title="">More About Me</a>
            </div>  
         </div>   		 		
      </div> <!-- /intro-content --> 

      <ul class="intro-social">        
         <li><a href="https://www.facebook.com/profile.php?id=100061143154846" target="_blank"><i class="fa fa-facebook"></i></a></li>
         <li><a href="https://www.instagram.com/muhammed_ahmed158/" target="_blank"><i class="fa fa-instagram"></i></a></li>
         <li><a href="https://github.com/m7md158" target="_blank"><i class="fa fa-github"></i></a></li> <!-- GitHub -->
         <li><a href="https://www.linkedin.com/in/mohammed-ahmed-abdel-samie-1a6510247/" target="_blank"><i class="fa fa-linkedin"></i></a></li> <!-- LinkedIn -->
      </ul> <!-- /intro-social -->
   </section> <!-- /intro -->


{% endblock body %}