{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- basic page needs
   ================================================== -->
   <meta charset="utf-8">
   <title>MOHAMED</title>
   <meta name="description" content="">  
   <meta name="author" content="">

   <!-- mobile specific metas
   ================================================== -->
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

   <!-- CSS
   ================================================== -->
   <link rel="stylesheet" href="{% static 'css/base.css' %}">  
   <link rel="stylesheet" href="{% static 'css/main.css' %}">
   <link rel="stylesheet" href="{% static 'css/vendor.css' %}"> 
   
   <!-- Custom styles for the navbar -->
   <style>
		.navbar {
		position: fixed;
		top: 0;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.8);
		z-index: 999;
		padding: 15px 0;
		}
		.navbar ul {
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: center;
		}
		.navbar ul li {
		display: inline-block;
		margin: 0 15px;
		}
		.navbar ul li a {
		color: white;
		text-decoration: none;
		font-size: 18px;
		font-weight: bold;
		}
		.navbar ul li a:hover {
		color: #ff0077;
		}
		body {
		padding-top: 60px; /* Make sure content doesn't overlap with the fixed navbar */
		}
	</style>

   <!-- script
   ================================================== -->   
   <script src="{% static 'js/modernizr.js' %}"></script>
   <script src="{% static 'js/pace.min.js' %}"></script>

   <!-- favicons
   ================================================== -->
   <link rel="icon" type="image/png" href="favicon.png">

</head>

<body id="top">

	<div class="navbar">
		<ul>
		   <li><a href="{% url 'home:home' %}">Home</a></li>
		   <li><a href="{% url 'about:about' %}">About</a></li>
		   <li><a href="#resume">Resume</a></li>
		   <li><a href="#portfolio">Portfolio</a></li>
		   <li><a href="#services">Services</a></li>
		   <li><a href="#contact">Contact</a></li>
		</ul>
	</div>


	
	<!-- header 
	================================================== -->
 




   <!-- intro section
   ================================================== -->
   <section id="intro">   

      <div class="intro-overlay"></div>	

      <div class="intro-content">
         <div class="row">

            <div class="col-twelve">
               <h5>Hello, World.</h5>
               <h1>I'm Mohamed Qabil</h1>

               <p class="intro-position">
                  <span>Back-end Developer</span>
                  <span>ML/DL Engineer</span> 
               </p>

               <a class="button stroke smoothscroll" href="{% url 'about:about' %}" title="">More About Me</a>
            </div>  
         </div>   		 		
      </div> <!-- /intro-content --> 

      <ul class="intro-social">        
         <li><a href="https://www.facebook.com/profile.php?id=100061143154846" target="_blank"><i class="fa fa-facebook"></i></a></li>
         <li><a href="https://www.instagram.com/muhammed_ahmed158/" target="_blank"><i class="fa fa-instagram"></i></a></li>
         <li><a href="https://github.com/m7md158" target="_blank"><i class="fa fa-github"></i></a></li> <!-- GitHub -->
         <li><a href="https://www.linkedin.com/in/mohammed-ahmed-abdel-samie-1a6510247/" target="_blank"><i class="fa fa-linkedin"></i></a></li> <!-- LinkedIn -->
      </ul> <!-- /intro-social -->
   </section> <!-- /intro -->

</body>
</html>
