{% load static %}
<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- basic page needs
   ================================================== -->
   <meta charset="utf-8">
	<title>MOHAMED</title>
	<meta name="description" content="">  
	<meta name="author" content="">

   <!-- mobile specific metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

 	<!-- CSS
   ================================================== -->
   <link rel="stylesheet" href="{% static 'css/base.css' %}">  
   <link rel="stylesheet" href="{% static 'css/main.css' %}">
   <link rel="stylesheet" href="{% static 'css/vendor.css' %}">   
   
   <style>
		.navbar {
		position: fixed;
		top: 0;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.8);
		z-index: 999;
		padding: 15px 0;
		}
		.navbar ul {
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: center;
		}
		.navbar ul li {
		display: inline-block;
		margin: 0 15px;
		}
		.navbar ul li a {
		color: white;
		text-decoration: none;
		font-size: 18px;
		font-weight: bold;
		}
		.navbar ul li a:hover {
		color: #ff0077;
		}
		body {
		padding-top: 60px; /* Make sure content doesn't overlap with the fixed navbar */
		}

		.job-container {
            display: flex;
            flex-wrap: wrap; /* Allows wrapping to the next line if there's not enough space */
            gap: 10px; /* Adds space between items */
        }
        
	</style>

   <!-- script
   ================================================== -->   
	<script src="js/modernizr.js"></script>
	<script src="js/pace.min.js"></script>

   <!-- favicons
	================================================== -->
	<link rel="icon" type="image/png" href="favicon.png">

</head>

<body id="top">


	<div class="navbar">
		<ul>
		   <li><a href="{% url 'home:home' %}">Home</a></li>
		   <li><a href="{% url 'about:about' %}">About</a></li>
		   <li><a href="#resume">Resume</a></li>
		   <li><a href="#portfolio">Portfolio</a></li>
		   <li><a href="#services">Services</a></li>
		   <li><a href="#contact">Contact</a></li>
		</ul>
	</div>

   <!-- about section
   ================================================== -->
   <section id="about">  

   	<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>About</h5>
   			<h1>Let me introduce myself.</h1>

   			<div class="intro-info">
   				<p class="lead">My name is Mohamed Ahmed AbdelSamie (Moahmed Qabil) and I am a software engineer and Python developer. I am currently pursuing my bachelor's degree in Artificial Intelligence at Menoufia University and will graduate in 2026. I am deeply involved in many software development projects, specializing in backend development using Django framework and ML learning algorithms.

					I have gained experience in web scraping and have completed certifications in Artificial Intelligence, Deep Learning, and Back-end Development from prestigious institutions such as NTI, ITI, Meta ,and IBM.
					
					With a strong foundation in programming languages like C++ and Python, and tools like Django, MySQL, and Git, I am continuously expanding my knowledge in machine learning and backend technologies.</p>
   			</div>   			

   		</div>   		
   	</div> <!-- /section-intro -->

   	<div class="row about-content">

   		<div class="col-six tab-full">

   			<h3>Profile</h3>
   			<ul class="info-list">
				{% for profile in profiles %}
					<li>
						<strong>Fullname:</strong>
						<span>{{profile.first_name}} {{profile.last_name}}</span>
					</li>
					<li>
						<strong>Nickname:</strong>
						<span>{{profile.nickname}} </span>
					</li>

					<li>
						<strong>Birth Date:</strong>
						<span>{{profile.birth_date}}</span>
					</li>
					<li>						
						<strong>Job:</strong>
						<div class="job-container">
							{% for job in jobs %}
								<div>{{ job.title}}, </div>
							{% endfor %}
						</div>
					</li>
					<li>
						<strong>Website:</strong>
						<span>{{profile.website}}</span>
					</li>
					<li>
						<strong>Email:</strong>
						<span>{{profile.email}}</span>
					</li>
					{% empty %}
						<li>No skills available.</li>
				{% endfor %}
   			</ul> <!-- /info-list -->

   		</div>

   		<div class="col-six tab-full">
			
   			<h3>Skills</h3>
			   <div class="row">
					<ul class="skill-bars">
					{% for skill in skills %}
						<li>
							<div class="progress percent{{ skill.percentage }}"><span>{{ skill.percentage }}%</span></div>
							<strong>{{ skill.name }}</strong>
						</li>
					{% empty %}
						<li>No skills available.</li>
					{% endfor %}
					</ul> <!-- /skill-bars -->
				</div>

   		</div>

   	</div>

   	<div class="row button-section">
   		<div class="col-twelve">
   			<a href="{% url 'contact:contact' %}" title="Hire Me" class="button stroke smoothscroll">Hire Me</a>
   			<a href="https://drive.google.com/file/d/1MJ-ac0sfJlzcLxSIPgXsOHSzy_LmZW5P/view?usp=drive_link" title="Download CV" class="button button-primary">Download CV</a>
   		</div>   		
   	</div>

   </section> <!-- /process-->    

</body>

</html>